/* /////////////////////////////////////
   GLOBAL VARIABLES
//////////////////////////////////////*/

:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark: hsl(229, 57%, 11%);
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    overflow: hidden;
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    /* font-weight: 700; */
}

/* /////////////////////////////////////
   MOBILE FIRST
//////////////////////////////////////*/

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

.appContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    background: var(--dark-blue);
    width: 90vw;
    height: 30vh;
    border-radius: 1rem;
    border-top-right-radius: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem 3rem;
}
.logo {
    width: 11rem;
}
.icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.iconContainer {
    width: 10vw;
    height: 10vw;
    margin-right: 1.6rem;
    background: var(--very-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.icon {
    padding: 0.1rem;
    width: 50%;
}
.bottom {
    background: var(--dark-blue);
    width: 90vw;
    height: 30vh;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 2rem 3rem;
    margin-top: 2rem;
    position: relative;
    text-align: center;
}
.message {
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
}
.message span {
    font-weight: 700;
}
.memoryBar {
    height: 1.5rem;
    width: 100%;
    border-radius: 1rem;
    background: var(--very-dark);
    padding: 0.2rem;
}
.currentAmount {
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 0;
    padding: 0.2rem;
    animation: 0.75s currentAmountBar 0.2s forwards, ease-in;
}
@keyframes currentAmountBar {
    0 {
        width: 0;
    }
    100% {
        width: 70%;
    }
}
.nodule {
    background: white;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 1rem;
}
.limits {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.memoryMessage {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    border-radius: 10px;
    padding: 1rem 2rem;
    background: #fff;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
}
.memoryMessage span {
    font-size: 2.75rem;
    font-weight: 700;
}

@media only screen and (min-width: 62.5rem) {
    body {
        background-size: 100vw;
        background-image: none;
        background: #f0f0f0;
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        width: 80%;
        max-width: 1200px;
        box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.15);
        padding: 2.5rem 5rem;
        background: #fff;
        background-image: url("./images/pattern-curve.svg");
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: bottom left;
    }

    .sliderTop,
    .image,
    .sliderBottom {
        margin: 0;
        grid-row: 1;
    }

    .sliderTop {
        grid-column: 5 / -1;
        padding: 4.5rem;
    }

    .image {
        width: 545px;
        max-width: 115%;
    }

    .slider {
        bottom: 3.25rem;
        left: 5.75rem;
        background: white;
        border-radius: 50px;
        overflow: hidden;
        display: flex;
    }

    .sliderButton {
        padding: 0.85rem 1.25rem;
    }

    .arrow {
        transform: scale(1);
    }

    .sliderBottom {
        grid-column: 1 / 7;
        text-align: left;
        z-index: 1;
        align-self: center;
        background-size: 6rem;
        background-position-x: 6rem;
    }

    .bio {
        margin-left: 0;
        margin-top: 1em;
    }

    .name,
    .position {
        display: inline-block;
    }
}

@media only screen and (min-width: 75rem) {
    .sliderBottom {
        background-size: 8rem;
    }

    .bio {
        margin-top: 1.5em;
    }
}
