///////////////////////////////////////
//         GENERAL STYLES            //
///////////////////////////////////////

body {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
    animation: fadein 1.5s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.dispNone {
    display: none;
}
* html {
    box-sizing: border-box;
    /*  font-size: rem....; define % for responsive design (default 100% = 16px - 62.5% = 10px)*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* /////////////////////////////////////
   GLOBAL VARIABLES
//////////////////////////////////////*/

html {
    --veryDarkGrey: hsl(0, 0%, 17%);
    --darkGrey: hsl(0, 0%, 59%);

    /* PRIMARY COLORS */
    --primaryBrightRed: hsl(12, 88%, 59%);
    --primaryBrightRedHover: hsl(12, 88%, 69%);
    --primaryDarkBlue: hsl(228, 39%, 23%);

    /* NEUTRAL COLORS */
    --neutralDarkGrayishBlue: hsl(227, 12%, 61%);
    --neutralVeryDarkBlue: hsl(233, 12%, 13%);
    --neutralVeryPaleRed: hsl(13, 100%, 96%);
    --neutralVeryLightGray: hsl(0, 0%, 98%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 62.5%;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: "Be Vietnam", sans-serif;
    color: var(--veryDarkGrey);
    font-size: 1.6rem;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
span {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Be Vietnam", sans-serif;
    width: 100%;
    display: block;
}
button {
    outline: none;
    border: none;
}
.appContainer {
    padding-top: 8rem;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    // background: red;
    background-image: url("./images/bg-simplify-section-desktop.svg");
}
.appWidth {
    width: 90vw;
    margin: 0 auto;
}
.mainBtn {
    font-size: clamp(1.4rem, 1.5vw, 1.6rem);
    font-weight: 500;
    color: var(--neutralVeryPaleRed);
    background: var(--primaryBrightRed);
    padding: 1.5rem 1.75rem;
    border-radius: 50px;
    width: 50%;
    margin: 0 auto;
    transition: var(--transitionAll);
    cursor: pointer;
    box-shadow: 0px 0px 8px 8px var(--neutralVeryPaleRed);
}
.mainBtn:hover {
    transition: var(--transitionAll);
    background: var(--primaryBrightRed);
    cursor: pointer;
}

.mainHeader {
    font-size: clamp(4.4rem, 5vw, 5.4rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.2rem;
    text-align: center;
}
.smallerHeader {
    font-size: clamp(2.6rem, 3vw, 3.2rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.05rem;
    text-align: center;
}
.smallHeader {
    font-size: clamp(2.6rem, 3vw, 3.2rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.05rem;
    text-align: center;
}
.subHeader {
    font-size: clamp(1.4rem, 3vw, 1.75rem);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    color: var(--neutralDarkGrayishBlue);
    text-align: center;
    margin: 1.6rem auto 2rem auto;
}
.bodyText {
    font-size: clamp(1.35rem, 2.5vw, 1.5rem);
    color: var(--neutralDarkGrayishBlue);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-align: center;
}

@media only screen and (min-width: 62.5rem) {
    .appWidth {
        width: 70vw;
    }
    .mainHeader {
        font-size: clamp(4.4rem, 5vw, 5.4rem);
        text-align: left;
    }
    .subHeader {
        text-align: left;
    }
}
