///////////////////////////////////////
//          HERO SECTION            //
///////////////////////////////////////

/* ///////////// HERO SECTION /////////////*/

.manageHero {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    overflow: hidden;
}
.heroImg {
    object-fit: cover;
    width: 100%;
    max-width: 90%;

    z-index: -1;
    padding: 0;
    margin: 0;
    margin-top: 5rem;
    object-position: right;
    margin-bottom: 5rem;
}
.heroInfo {
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
    z-index: -1;
    text-align: center;
    // background: green;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

@media only screen and (min-width: 62.5rem) {
    .manageHero {
        flex-direction: row-reverse;
        height: 100vh;
    }
    .heroInfo {
        width: 40%;
        text-align: left;
    }
    .heroImg {
        max-width: 50%;
    }
}
