///////////////////////////////////////
//        TESTIMONIALS SECTION       //
///////////////////////////////////////
.testimonialsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.testimonialsContainer .smallerHeader {
    margin-top: 10rem;

    color: var(--neutralVeryDarkBlue);
}
.testimonialsContainer .mainBtn {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.testimonials {
    display: grid;

    grid-template-columns: repeat(4, minmax(70%, 1fr));
    padding-top: 10rem;
    padding-bottom: 5rem;
    border: 5px solid red;

    left: 0;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.testimonialInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--neutralVeryLightGray);
    padding: 4rem;
    padding-top: 8rem;
}
.testimonialImg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    max-width: 10rem;
    max-height: 10rem;
}
.testimonialText {
    width: 100%;
    border: 1px solid blue;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

@media only screen and (min-width: 62.5rem) {
    .testimonialsContainer {
        height: 80vh;
    }
    .testimonialsContainer .smallerHeader {
        margin-bottom: 10rem;
        color: var(--neutralVeryDarkBlue);
    }
    .testimonialsContainer .mainBtn {
        text-align: center;
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .testimonials {
        grid-template-columns: repeat(4, minmax(32%, 1fr));
        grid-column-gap: 2%;
        padding: 3rem;
        padding-top: 5rem;
        overflow: auto;
    }
    .testimonialInfo {
        padding-top: 8rem;
    }
}
