////////////////////////////////////////////////
//              FOOTER SECTION               //
////////////////////////////////////////////////

.footerContainer {
    background: var(--neutralVeryDarkBlue);
    padding-top: 5rem;
}
.footerNav {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: solid 1px rgba(0, 0, 0, 0.21);
    flex-direction: column-reverse;
    align-items: center;
    width: 90vw;
}
.logoSocialContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    width: 60%;
}
.footerLogo {
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.socialNav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.socialIcon {
    opacity: 0.5;
    transition: var(--transitionAll);
    cursor: pointer;
    padding: 0 2rem;
}
.socialIcon:hover {
    opacity: 1;
    transition: var(--transitionAll);
}
.copyright {
    color: var(--neutralVeryLightGray);
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.2s;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2rem;
}
.inputFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.inputFormContainer .submitBtn {
    max-width: 8rem;
    padding: 1.25rem 1.5rem;
}
.enterEmail {
    font-size: clamp(1.4rem, 1.5vw, 1.6rem);
    font-weight: 500;
    color: var(--primaryBrightRed);
    background: var(--neutralVeryPaleRed);
    padding: 1.25rem 1.5rem;
    border-radius: 50px;
    width: 60vw;
    max-width: 75vw;
    transition: var(--transitionAll);
    cursor: pointer;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.05);
    outline: none;
    border: none;
    margin-right: 2rem;
    line-height: 1.25;
    padding-left: 1rem;
}
.enterEmail::placeholder {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    color: var(--primaryBrightRed);
    padding-left: 1rem;
}

// footerList

.footerListContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(8vw, 1fr));
    margin: 2rem 0;
    width: 60vw;
    margin-left: 5rem;
}
.footerListItem {
    line-height: 1.8;
}
.footerListItem a {
    font-size: clamp(1.4rem, 1.75vw, 1.4rem);
    color: var(--neutralVeryLightGray);
    line-height: 2.2;
    opacity: 0.5;
    transition: var(--transitionAll);
}
.topItem {
    line-height: 0;
}
.footerListItem a:hover {
    opacity: 1;
    transition: var(--transitionAll);
}
.attribution {
    padding: 2.5rem 0 3.5rem 0;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid var(--primaryBrightRed);
    background: var(--veryDarkGrey);
    height: 5rem;
    color: white;
}
.attribution a {
    color: var(--primaryBrightRed);
    font-size: 1rem;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

@media only screen and (min-width: 62.5rem) {
    .footerContainer {
        padding: 5rem 0;
    }
    .footerListContainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(10vw, 1fr));
        column-gap: 3rem;
        margin: 0;
        width: 25vw;
    }
    .footerNav {
        flex-direction: row;
        align-items: stretch;
        width: 70vw;
    }
    .logoSocialContainer {
        flex-direction: column;
        align-items: flex-start;
        max-width: 20vw;
    }
    .copyright {
        text-align: right;
        margin: 1rem 0;
        position: relative;
        margin-bottom: 0;
    }
    .enterEmail {
        width: 20rem;
        max-width: 25rem;
    }
    .footerLogo {
        margin-bottom: 0;
        margin-top: 0;
    }
    .socialNav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .socialIcon {
        padding: 1rem;
    }
}
