/* /////////////////////////////////////
   GLOBAL VARIABLES
//////////////////////////////////////*/

html.colorTransition,
html.colorTransition *,
html.colorTransition *:before,
html.colorTransition *:after {
    transition: background 0 !important, color 0 !important;
    /* transition: color 0ms !important; */
    transition-delay: 0 !important;
}

html {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --dark_grayish_blue: hsl(228, 12%, 44%);
    --very_pale_blue: hsl(225, 100%, 98%);
    --text-color: black;
    --switcher: hsl(228, 12%, 44%);
    --switcherButton: white;
    --background: white;
    --cardBackground: hsl(225, 100%, 98%);
    --cardBackgroundActive: hsl(225, 100%, 95%);
}
/*
dark theme */

.dark_theme {
    --very_dark_blue_pattern: hsl(232, 19%, 15%);
    --dark_saturated_blue: hsl(228, 28%, 20%);
    --saturated_blue: hsl(228, 34%, 66%);
    --white_text: hsl(0, 0%, 100%);
}

.light_theme {
    --white_background: hsl(0, 0%, 100%);
    --very_pale_blue: hsl(225, 100%, 98%);
    --light_grayish_blue: hsl(227, 47%, 96%);

    --dark_grayish_blue: hsl(228, 12%, 44%);
    --blue_text: hsl(230, 17%, 14%);
}

html[dataTheme="dark"] {
    --very_pale_blue: hsl(225, 100%, 98%);
    --text-color: white;
    --switcher: linear-gradient(90deg, #378fe6 0, #3eda82 100%);
    --switcherButton: hsl(230, 17%, 14%);
    --background: hsl(230, 17%, 14%);
    --cardBackground: hsl(228, 28%, 20%);
    --cardBackgroundActive: hsl(228, 28%, 22%);
}

* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    width: auto;
    margin: 0 auto;
    color: var(--text-color);
    background: var(--background);
    padding: 0;
    margin: 0;
    padding: 5vw;
}

/* /////////////////////////////////////
   MOBILE FIRST
//////////////////////////////////////*/

.socialDashboard {
    margin: auto;
    max-width: 120rem;

    /* padding: 5vw; */
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;

    flex-direction: column;
    background: var(--background);
    padding-bottom: 3rem;

    flex-basis: 100%;
}
.dashboardTitles {
    border-bottom: 1px solid var(--dark_grayish_blue);
    margin-bottom: 1rem;
    width: 100%;
}
.dashboardTitles.overview {
    border-bottom: none;
    margin-bottom: 0;
}
.mediaHeader {
    margin-bottom: 0.5rem;
    line-height: 1.15;
    flex-basis: 100%;
}
.dashboardTitles.overview .mediaHeader {
    margin-top: 2rem;
}
.mediaSubHeader {
    color: var(--dark_grayish_blue);
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.2;
}
.themeSwitcherContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.4rem;
}
.themeText {
    font-weight: 700;
    color: var(--dark_grayish_blue);
}
.themeSwitcher {
    position: relative;
    border-radius: 20px;
    width: 5rem;
    height: 2.4rem;
    background: var(--switcher);
    padding: 0.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.themeSwitcherButton {
    position: absolute;
    background: var(--switcherButton);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    left: 0.4rem;
    cursor: pointer;
    animation: 0.15s toTheLeft forwards ease-in;
}
button,
button:focus {
    outline: none;
    border: none;
}

.darkTheme {
    animation: 0.15s helloToTheOtherSide forwards ease-in;
}

@keyframes helloToTheOtherSide {
    0% {
        left: 0.4rem;
    }
    100% {
        left: calc(4rem - 0.9rem);
    }
}
@keyframes toTheLeft {
    0% {
        left: calc(4rem - 0.9rem);
    }
    100% {
        left: 0.4rem;
    }
}

/* SOCIAL CARDS */
.socialMediaCards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 2.5rem;
    margin-top: 1rem;
}

.socialPanel {
    background: var(--cardBackground);
    position: relative;
    padding: 2.3rem;
    margin-top: 1rem;
    border-radius: 0.8rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;
    transition: background 0.2s ease-in-out;
}
.socialPanel:hover {
    transition: background 0.2s ease-in-out;
    background: var(--cardBackgroundActive);
    cursor: pointer;
}
.socialPanel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    height: 0.5rem;
}
.facebook:before {
    background-color: var(--facebook);
}
.twitter:before {
    background-color: var(--twitter);
}
.instagram:before {
    background: var(--instagram);
}
.youtube:before {
    background-color: var(--youtube);
}

.socialDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.socialIcon {
    width: 2rem;
    height: auto;
}
.socialIdentity {
    margin-left: 0.5rem;
    color: var(--dark_grayish_blue);
    font-weight: 700;
}
.socialNumbers {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: 1rem;
    vertical-align: text-bottom;
    display: flex;
    align-content: baseline;
    justify-content: flex-end;
    line-height: 1.15;
}
.followers {
    margin: 0;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--dark_grayish_blue);
}

.numberFollowers {
    vertical-align: middle;
    font-weight: 700;
    color: var(--lime-green);
}
.upArrow {
    vertical-align: middle;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    width: 0.75rem;
}

/* /////////////////////////////////////
   BOTTOM SECTION
//////////////////////////////////////*/

.socialMediaOverview {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1.5rem;
    margin-top: 3rem;
}
.socialOverviewCard {
    background: var(--cardBackground);
    position: relative;
    margin-top: 1rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 2.8rem 2.8rem 2rem 2.8rem;
    display: flex;
    justify-content: space-between;
    transition: background 0.2s ease-in-out;
}
.socialOverviewCard:hover {
    transition: background 0.2s ease-in-out;
    background: var(--cardBackgroundActive);
    cursor: pointer;
}
.socialViews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.pageViews {
    font-weight: 700;
    color: var(--dark_grayish_blue);
}
.viewsNumbers {
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 3rem;
}
.socialPercentage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.viewsPercentage.negativePerc,
.numberFollowers.negativeFollowers {
    color: var(--bright-red);
}
.overviewArrow {
    margin: 0;
}
.viewsPercentage {
    vertical-align: text-bottom;
    font-weight: 700;
    margin-top: 5rem;
    color: var(--lime-green);
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

@media only screen and (min-width: 62.5rem) {
    .socialMediaCards {
        margin-top: 4rem;
        grid-template-columns: repeat(4, minmax(max-content, 1fr));
    }
    .socialMediaOverview {
        grid-template-columns: repeat(4, minmax(max-content, 1fr));
    }
    .themeSwitcherContainer {
        justify-content: flex-end;
    }
    .themeText {
        margin-right: 1rem;
    }
    .dashboardTitles {
        border-bottom: none;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 0;
    }
    .mediaHeader {
        flex: 2;
    }
}

/* @media only screen and (min-width: 75rem) {
} */
