body {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dispNone {
  display: none;
}

* html {
  box-sizing: border-box;
  /*  font-size: rem....; define % for responsive design (default 100% = 16px - 62.5% = 10px)*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* /////////////////////////////////////
   GLOBAL VARIABLES
//////////////////////////////////////*/
html {
  --veryDarkGrey: hsl(0, 0%, 17%);
  --darkGrey: hsl(0, 0%, 59%);
  /* PRIMARY COLORS */
  --primaryBrightRed: hsl(12, 88%, 59%);
  --primaryBrightRedHover: hsl(12, 88%, 69%);
  --primaryDarkBlue: hsl(228, 39%, 23%);
  /* NEUTRAL COLORS */
  --neutralDarkGrayishBlue: hsl(227, 12%, 61%);
  --neutralVeryDarkBlue: hsl(233, 12%, 13%);
  --neutralVeryPaleRed: hsl(13, 100%, 96%);
  --neutralVeryLightGray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-size: 62.5%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
  color: var(--veryDarkGrey);
  font-size: 1.6rem;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
span {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam", sans-serif;
}

p {
  font-family: "Be Vietnam", sans-serif;
  width: 100%;
  display: block;
}

button {
  outline: none;
  border: none;
}

.appContainer {
  padding-top: 8rem;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-image: url(../../../../images/bg-simplify-section-mobile.svg);
}

.appWidth {
  width: 90vw;
  margin: 0 auto;
}

.mainBtn {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  font-weight: 500;
  color: var(--neutralVeryPaleRed);
  background: var(--primaryBrightRed);
  padding: 1.5rem 1.75rem;
  border-radius: 50px;
  width: 15rem;
  max-width: 20rem;
  transition: var(--transitionAll);
  cursor: pointer;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.05);
}

.mainBtn:hover {
  transition: var(--transitionAll);
  background: var(--primaryBrightRedHover);
  cursor: pointer;
}

.mainHeader {
  font-size: clamp(4.4rem, 5vw, 5.4rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.2rem;
  text-align: center;
}

.smallerHeader {
  font-size: clamp(4.2rem, 3vw, 3.2rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.05rem;
  text-align: center;
}

.smallHeader {
  font-size: clamp(1.8rem, 3vw, 2.4rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.05rem;
  text-align: center;
}

.subHeader {
  font-size: clamp(1.4rem, 3vw, 1.75rem);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  color: var(--neutralDarkGrayishBlue);
  text-align: center;
  margin: 1.6rem auto 2rem auto;
}

.bodyText {
  font-size: clamp(1.35rem, 2.5vw, 1.5rem);
  color: var(--neutralDarkGrayishBlue);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  text-align: center;
}

@media only screen and (min-width: 62.5rem) {
  .appWidth {
    width: 70vw;
  }

  .mainHeader {
    font-size: clamp(4.4rem, 5vw, 5.4rem);
    text-align: left;
  }

  .subHeader {
    text-align: left;
  }
}
.manageHeader {
  font-size: clamp(1.6rem, 1.5vw, 2.4rem);
}

.manageLogo {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.mainNav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  flex: 1;
}

.desktopNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: -3;
  flex: 2;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 2;
  padding: 0 10vw;
}

.navListItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navListItem a {
  line-height: 5rem;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  color: var(--neutralDarkGrayishBlue);
  margin: 0;
  padding: 0;
  transition: var(--transitionAll);
}

.navListItem a:hover {
  cursor: pointer;
  transition: var(--transitionAll);
  color: var(--primaryBrightRed);
}

.navButton {
  max-width: 15rem;
  flex: 1;
}

/* ///// MOBILE NAV ///// */
/* ///// HAMBURGER MENU ///// */
.mobileBtn {
  width: 25px;
  height: 20px;
  transition: var(--transitionAll);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.mobileBtn:hover {
  cursor: pointer;
}

.mobileBtn span {
  width: 25px;
  height: 3px;
  background: var(--veryDarkGrey);
}

#mobileNav.active ~ .toggleBtn span {
  background: #000;
}

#mobileNav ~ .mobileBtn span:nth-child(1) {
  transition: var(--transitionAll);
  transform: translate(0, 0) rotate(0deg);
}

#mobileNav.active ~ .mobileBtn span:nth-child(1) {
  transform: translate(0, 9px) rotate(45deg);
  background: var(--primaryBrightRed);
}

#mobileNav ~ .mobileBtn span:nth-child(2) {
  transition: var(--transitionAll);
  opacity: 1;
}

#mobileNav.active ~ .mobileBtn span:nth-child(2) {
  opacity: 0;
}

#mobileNav ~ .mobileBtn span:nth-child(3) {
  transition: var(--transitionAll);
  transform: translate(0, 0) rotate(0deg);
}

#mobileNav.active ~ .mobileBtn span:nth-child(3) {
  transform: translate(0, -8px) rotate(-45deg);
  background: var(--primaryBrightRed);
}

/* ///////////////////////////////////////////// */
#mobileNav {
  background: var(--primaryBrightRed);
  position: fixed;
  border-radius: 10px;
  top: -10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: -20;
  padding: 3rem 2rem;
}

#mobileNav.active {
  transition: all 0.25s ease-in-out;
  top: 13vh;
  opacity: 1;
  z-index: 20;
}

#mobileNav .navList {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 62.5rem) {
  .mobileBtn {
    display: none;
  }

  /* DESKTOP MENU  */
  .desktopNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -3;
  }

  .navList {
    display: flex;
    align-items: flex-end;
    text-align: right;
  }

  .navListItem a {
    font-size: clamp(1.2rem, 1.25vw, 1.4rem);
    margin-left: 5rem;
    font-weight: 700;
    color: var(--accentGreyishViolet);
    cursor: pointer;
  }

  .navButton {
    margin-top: 0;
  }

  .navListItem a:hover,
.logInItem a:hover {
    transition: var(--transitionAll);
    color: var(--primaryColorCyan);
  }
}
/* ///////////// HERO SECTION /////////////*/
.manageHero {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
  overflow: hidden;
}

.heroImg {
  object-fit: cover;
  width: 100%;
  max-width: 50%;
  object-position: right;
  margin-bottom: 5rem;
  z-index: -1;
  padding: 0;
  margin: 0;
}

.heroInfo {
  width: 100%;
  margin: 0 auto;
  margin-left: 0;
  z-index: -1;
  text-align: center;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/
@media only screen and (min-width: 62.5rem) {
  .manageHero {
    flex-direction: row-reverse;
    height: 100vh;
  }

  .heroInfo {
    width: 40%;
    text-align: left;
  }
}
/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/
.aboutManage {
  display: grid;
  grid-template-columns: 1fr;
}

.aboutManage .smallerHeader {
  margin: 0 auto;
  font-weight: 700;
  color: var(--primaryDarkBlue);
  letter-spacing: -0.02;
  line-height: 1.5;
}

.whatsDifferent {
  width: 70%;
  text-align: left;
}

.companyInfo {
  display: flex;
}

.companyInfoNum {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4vw;
  min-width: 4rem;
  max-width: 6rem;
  padding: 1rem;
  border-radius: 50px;
  background: var(--primaryBrightRed);
  color: var(--neutralVeryPaleRed);
  font-size: clamp(1.2rem, 1.25vw, 1.4rem);
}

.companyInfo .smallHeader {
  margin-left: 2rem;
  color: var(--neutralVeryDarkBlue);
  text-align: left;
}

.companyInfoText {
  margin-top: 0;
  color: var(--neutralDarkGrayishBlue);
  margin-left: 8.25rem;
}

@media only screen and (min-width: 62.5rem) {
  .aboutManage {
    grid-template-columns: repeat(2, minmax(48%, 1fr));
    grid-column-gap: 4%;
    height: 80vh;
  }

  .whatsDifferent {
    width: 80%;
  }

  .aboutManage .smallerHeader {
    width: 100%;
    text-align: left;
    line-height: 1.35;
  }
}
.testimonialsContainer {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.testimonialsContainer .smallerHeader {
  margin-bottom: 10rem;
  color: var(--neutralVeryDarkBlue);
}

.testimonials {
  display: grid;
  padding-top: 15rem;
}

.testimonialInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--neutralVeryLightGray);
  padding: 2rem;
}

.testimonialImg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  max-width: 10rem;
  max-height: 10rem;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/
@media only screen and (min-width: 62.5rem) {
  .testimonialsContainer {
    height: 80vh;
    overflow: hidden;
  }

  .testimonialsContainer .mainBtn {
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
  }

  .testimonials {
    grid-template-columns: repeat(4, minmax(32%, 1fr));
    grid-column-gap: 2%;
    padding: 3rem;
  }

  .testimonialInfo {
    padding-top: 8rem;
  }
}
.simplifyContainer {
  background: var(--primaryBrightRed);
  width: 100vw;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-image: url(../../../../images/bg-simplify-section-desktop.svg);
}

.simplifyContainer .innerContainer {
  padding: 7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simplifyContainer .smallerHeader {
  width: 50%;
  text-align: left;
  color: white;
}

.simplifyContainer .mainBtn {
  background: white;
  color: var(--primaryBrightRed);
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/
.attribution {
  padding: 2.5rem 0 3.5rem 0;
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid var(--primaryBrightRed);
  background: var(--veryDarkGrey);
  height: 5rem;
  color: white;
}

.attribution a {
  color: var(--primaryBrightRed);
  font-size: 1rem;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

/*# sourceMappingURL=style.css.map */
