/* /////////////////////////////////////
   GLOBAL VARIABLES
//////////////////////////////////////*/

html {
    --veryDarkGrey: hsl(0, 0%, 17%);
    --darkGrey: hsl(0, 0%, 59%);

    /* ACCENT COLORS */
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);

    --headerBlue: #4951ac;

    /* WHITE */
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    color: var(--darkGrey);
    font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
span {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Rubik", sans-serif;
}

/* :root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark: hsl(229, 57%, 11%);
} */

/* /////////////////////////////////////
   MOBILE FIRST
//////////////////////////////////////*/

/* ///////////// HEADER SECTION /////////////*/

.trackerHeader {
    background-image: url(./images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    background-position: top left;
    display: flex;
    align-content: center;
    padding: 3rem 3rem 5rem 3rem;
    text-align: center;
    height: 35vh;
    /* max-height: 250px; */
    box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.35);
}
.mainHeader {
    font-size: clamp(2.4rem, 2vw, 3.2rem);
    color: white;
}
.trackerForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 80vw;
    margin-top: 2rem;

    box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.075);
}
.trackerInput {
    /* flex-grow: 1; */
    border: none;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    width: 90%;
    height: 70px;
    color: var(--veryDarkGrey);
    padding-left: 2rem;
}
.trackerInput::placeholder {
    color: var(--darkGrey);
}
.searchButton {
    background: var(--veryDarkGrey);
    width: 10%;
    height: 100%;
    outline: none;
    border: none;
    transition: all 0.125s ease-in-out;
    cursor: pointer;
}
.searchButton:hover {
    transition: all 0.125s ease-in-out;
    background: var(--headerBlue);
}
.trackerOutputContainer {
    position: relative;
    z-index: 5;
    padding-right: 1rem;
}
.trackerOutput {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 3rem;
    grid-gap: 2rem;
    padding: 3rem 2rem;
    width: 80vw;
    background: white;
    margin: 0 auto;
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.075);
    color: hsl(0, 0%, 59%);
    text-align: center;
}
.trackerOutputTitle {
    font-size: clamp(1rem, 1.5vw, 1.4rem);
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-weight: 700;
}
.outputContainer {
    border-right: none;
}
.outputContainer:last-child {
    border-bottom: none;
}
.outputContainer br {
    display: none;
}
.output,
.output span {
    font-size: clamp(1.8rem, 1.75vw, 3.6rem);
    color: var(--veryDarkGrey);
    font-weight: 700;
    letter-spacing: 0;
}
.output {
    padding-top: 0.75rem;
}
.output span {
    font-weight: 700;
}

/* ///////////// MAP SECTION /////////////*/

#mapid {
    height: 65vh;
    z-index: 1;
}
#mapid.is-dragging {
    z-index: 2;
}

/* ///////////// FOOTER SECTION /////////////*/

.attribution {
    padding: 2.5rem 0 3.5rem 0;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid var(--cyan);
    background: var(--veryDarkGrey);
    height: 5rem;
    color: white;
}
.attribution a {
    color: var(--cyan);
    font-size: 1rem;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

@media only screen and (min-width: 62.5rem) {
    .trackerHeader {
        padding-top: 6rem;
    }
    .trackerOutput {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        top: 0;
        text-align: left;
        grid-gap: 3.5rem;
        padding: 5rem 4rem;
    }
    .trackerForm {
        width: 500px;
        height: 55px;
    }
    .outputContainer {
        border-right: 1px solid var(--darkGrey);
        border-bottom: 0;
    }
    .outputContainer:last-child {
        border-right: none;
    }
    .trackerForm {
        width: 40vw;
        height: 6rem;
    }
    .outputContainer br {
        display: inline-block;
    }
    .output {
        padding-top: 1.6rem;
    }
}

@media only screen and (min-width: 75rem) {
}
