/* /////////////////////////////////////
   GLOBAL VARIABLES
//////////////////////////////////////*/

html {
    --veryDarkGrey: hsl(0, 0%, 17%);
    --darkGrey: hsl(0, 0%, 59%);

    /* ACCENT COLORS */
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);

    /* WHITE */
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    color: var(--white);
    font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
span {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Rubik", sans-serif;
}

/* :root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark: hsl(229, 57%, 11%);
} */

/* /////////////////////////////////////
   MOBILE FIRST
//////////////////////////////////////*/

/* ///////////// HEADER SECTION /////////////*/

/* ///////////// FOOTER SECTION /////////////*/

.attribution {
    padding: 5rem 0;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid var(--cyan);
}
.attribution a {
    color: var(--cyan);
    font-size: 1rem;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

@media only screen and (min-width: 62.5rem) {
}

@media only screen and (min-width: 75rem) {
}
