/* /////////////////////////////////////
   GLOBAL VARIABLES
//////////////////////////////////////*/

html {
    --bgWhite: #ffffff;
    --textWhite: #f9f9f9;
    --bgGrey: #eff1f7;

    --veryDarkGrey: hsl(0, 0%, 17%);
    --darkGrey: hsl(0, 0%, 59%);

    /* PRIMARY COLORS */
    --primaryColorCyan: hsl(180, 66%, 49%);
    --primaryColorCyanHover: hsl(180, 66%, 69%);
    --primaryDarkViolet: hsl(257, 27%, 26%);

    /* SECONDARY COLORS */
    --secondaryColorRed: hsl(0, 87%, 67%);

    /* ACCENT COLORS */

    --accentGrey: hsl(0, 0%, 75%);
    --accentGreyishViolet: hsl(257, 7%, 63%);
    --accentVeryDarkBlue: hsl(255, 11%, 22%);
    --accentVeryDarkViolet: hsl(260, 8%, 14%);

    /* basic transition */
    --transitionColor: all 0.15s ease-in-out;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--veryDarkGrey);
    font-size: 1.8rem;
    background: var(--bgWhite);
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6,
i,
span {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Poppins", sans-serif;
}

button {
    outline: none;
    border: none;
}

.mainHeader {
    font-size: clamp(4.4rem, 5vw, 6.4rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.2rem;
    text-align: center;
}
.smallerHeader {
    font-size: clamp(2.6rem, 3vw, 3.2rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.05rem;
    text-align: center;
}
.subHeader {
    font-size: clamp(1.4rem, 3vw, 1.75rem);
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.05rem;
    color: var(--accentGreyishViolet);
    text-align: center;
    margin: 1.6rem auto 2rem auto;
}
.bodyText {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    color: var(--accentGreyishViolet);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-align: center;
}

/* /////////////////////////////////////
   MOBILE FIRST
//////////////////////////////////////*/

/* ///////////// HEADER SECTION /////////////*/

.appContainer {
    margin: 0 auto;
    padding: 5rem 0;
}
.appWidth {
    width: 90vw;
    margin: 0 auto;
}
.shortlyHeader {
    font-size: clamp(1.6rem, 1.5vw, 2.4rem);
}
.mainNav {
    display: flex;
    justify-content: space-between;
}
.desktopNav {
    display: flex;
}
.shortlyLogo {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.navList {
    display: flex;
    align-items: center;
}
.navListItem,
.logInItem {
    font-size: clamp(1.4rem, 1.5vw, 1.6rem);
    margin-left: 5rem;
    font-weight: 700;
    color: var(--accentGreyishViolet);
    cursor: pointer;
}
.logInDetails {
    display: flex;
    margin-left: 5rem;
    align-items: center;
    text-align: center;
}
.mainButton {
    font-size: clamp(1.6rem, 1.5vw, 1.6rem);
    font-weight: 500;
    color: var(--textWhite);
    background: var(--primaryColorCyan);
    padding: 2rem 2rem;
    border-radius: 50px;
    width: 50vw;
    margin: 0 auto;
    transition: var(--transitionColor);
}
.mainButton:hover {
    transition: var(--transitionColor);
    background: var(--primaryColorCyanHover);
    cursor: pointer;
}
.navButton {
    margin-left: 5rem;
    text-align: center;
}
.shortlyHero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}

/* ///////////// HERO SECTION /////////////*/

.heroImg {
    object-fit: cover;
    width: 100%;
    margin-bottom: 5rem;
    z-index: -1;
}
.heroInfo {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 5rem;
    z-index: -1;
    text-align: center;
}

/* ///////////// ADV STATS SECTION /////////////*/
.advancedStatsContainer {
    position: relative;
    background: var(--bgGrey);
    height: 100vh;
    display: flex;
}
.shortenItInput {
    width: 90vw;
    border-radius: 10px;
    background: var(--primaryDarkViolet);
    background-image: url(./images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
}
.advancedStatsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.advancedStatsWrapper .subHeader {
    width: 30vw;
    text-align: center;
    margin-bottom: 5rem;
}
.inputField {
    background: var(--textWhite);
    font-size: clamp(1.6rem, 1.5vw, 1.6rem);
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    transition: var(--transitionColor);
    outline: none;
    border: none;
    border-radius: 8px;
}
.shortenItButton {
    width: 100%;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 2rem;
}
.infoPanels {
    display: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}
.statsPanel {
    background: var(--bgWhite);
    padding: 4rem;
    position: relative;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.015);
}
.iconContainer {
    position: absolute;
    top: 0;
    left: 4rem;
    transform: translateY(-50%);
    background: var(--accentVeryDarkViolet);
    border-radius: 100%;
    padding: 3.5rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statsIcon {
    width: 3rem;
    height: auto;
    object-fit: contain;
}
.statsHeader {
    margin-top: 2rem;
    font-weight: 700;
    color: var(--accentVeryDarkViolet);
    font-size: clamp(1.6rem, 1.5vw, 1.6rem);
}
.statsPanel .bodyText {
    text-align: left;
    line-height: 1.4;
    margin-top: 0.5rem;
}

.statsPanel:nth-child(2) {
    top: 4rem;
}
.statsPanel:nth-child(3) {
    top: 8rem;
}

/* ///////////// BOOST LINKS SECTION /////////////*/

/* ///////////// FOOTER SECTION /////////////*/

.attribution {
    padding: 2.5rem 0 3.5rem 0;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid var(--cyan);
    background: var(--veryDarkGrey);
    height: 5rem;
    color: white;
}
.attribution a {
    color: var(--cyan);
    font-size: 1rem;
}

/* /////////////////////////////////////
   MEDIA QUERIES
//////////////////////////////////////*/

@media only screen and (min-width: 62.5rem) {
    .appWidth {
        width: 70vw;
        margin: 0 auto;
    }
    .mainHeader {
        text-align: left;
    }
    .subHeader {
        line-height: 1.6;
        text-align: left;
    }
    .mainButton {
        width: 10vw;
    }
    /* hero section  */
    .shortlyHero {
        flex-direction: row-reverse;
        align-items: center;
        height: 75vh;
    }
    .heroInfo {
        width: 40%;
        text-align: left;
    }
    .heroImg {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    /* shortenIt Section */
    .shortenItInput {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 5rem 3rem;
    }
    .shortenItButton {
        margin-top: 0;
        margin-left: 2rem;
    }
    /* advanced stats */
    .infoPanels {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media only screen and (min-width: 75rem) {
}
